<div style="position: relative;">
<carousel>
    <slide>
      <img src="../../../assets/images/c0.jpg" alt="first slide" style="display: block; width: 100%;margin-top: 20px; height: 500px;">
    </slide>
    <slide>
      <img src="../../../assets/images/c3.jpg" alt="second slide" style="display: block; width: 100%;margin-top: 20px; height: 500px;">
    </slide>
    <slide>
      <img src="../../../assets/images/c2.jpg" alt="third slide" style="display: block; width: 100%;margin-top: 20px; height: 500px;">
    </slide>
    <slide>
      <img src="../../../assets/images/c4.JPG" alt="fourth slide" style="display: block; width: 100%;margin-top: 20px; height: 500px;">
      </slide>
    <slide>
      <img src="../../../assets/images/c5.jpg" alt="fifth slide" style="display: block; width: 100%;margin-top: 20px; height: 500px;">
    </slide>
  </carousel> 
  <!-- <div style="position: absolute; bottom: 50px;">
    <h1 style="float: right;">Are you Fan of team India?</h1>
    <h1>Welcome To Team MIB Fan Club</h1>
  </div> -->
</div>

<app-testimonial></app-testimonial>