<div class="container">
  
  <form (submit)="afterSubmit($event)" >
        <h3 align="center"><strong>Deactivate your account</strong></h3>
        <hr>
    
        <label><b>Login ID/Email</b></label>
        <input type="text" id="loginid" placeholder="Enter email" required>
  
        <label><b>Password</b></label>
        <input type="password" id='password' placeholder="Enter Password" required>
  
        <div align="center" class="clearfix">
          <button id='login' type="submit" class="signupbtn">Deactivate</button>
        </div>
    </form>
</div>