<div class="testimonial-section">
  <h1 class="testimonial-header" style="margin: 20px; margin-left: 45%;">
    <b>Players</b>
  </h1>
  <div class="row">
    <div style="margin-top: 2%">
      <div class="col-md-offset-1 col-md-3 card-div" (click)='showDetails(28081)'>
        <img src="../../../assets/images/28081.jpg" />
        <!-- <p>“ The era of playing aggressive cricket and to have the mid-on up is gone. You now try to read the mindset of a batsman.
          ”</p> -->
        <p align='center'>
          <b>- Mahendra Singh Dhoni</b>
        </p>
      </div>
      <div class="col-md-3 card-div secondCards" (click)='showDetails(253802)' >
          <img src="../../../assets/images/253802.jpg" />
        <!-- <p>“ The era of playing aggressive cricket and to have the mid-on up is gone. You now try to read the mindset of a batsman.
          ”</p> -->
        <p align='center'>
          <b>- Virat Kohli</b>
        </p>
      </div>
      <div class=" col-md-3 card-div secondCards" (click)='showDetails(28114)'>
        <img src="../../../assets/images/28114.jpg" />
        <!-- <p>“ The era of playing aggressive cricket and to have the mid-on up is gone. You now try to read the mindset of a batsman.
          ”</p> -->
        <p align='center'>
          <b>- Rahul Dravid</b>
        </p>
      </div>
    </div>
    <div style="margin-top: 25%">
    <div class="col-md-offset-1 col-md-3 card-div" (click)='showDetails(34102)'>
      <img src="../../../assets/images/34102.jpg" />
      <!-- <p>“ The era of playing aggressive cricket and to have the mid-on up is gone. You now try to read the mindset of a batsman.
        ”</p> -->
      <p align='center'>
        <b>- Rohit Sharma</b>
      </p>
    </div>
    <div class=" col-md-3 card-div secondCards" (click)='showDetails(35263)'>
      <img src="../../../assets/images/35263.jpg" />
      <!-- <p>“ The era of playing aggressive cricket and to have the mid-on up is gone. You now try to read the mindset of a batsman.
        ”</p> -->
      <p align='center'>
        <b>- Virendra Sehwag</b>
      </p>
    </div>
    <div class="col-md-3 card-div secondCards" (click)='showDetails(36084)'>
      <img src="../../../assets/images/36084.jpg" />
      <!-- <p>“ The era of playing aggressive cricket and to have the mid-on up is gone. You now try to read the mindset of a batsman.
        ”</p> -->
      <p align='center'>
        <b >- Yuvraj Singh </b>
      </p>
    </div>
    </div>
    <div class="col-md-offset-1"></div>
  </div>
</div>