<div style="float: right">
        <app-chatbox></app-chatbox>
</div>
<div style="margin-top: 5% ">
<div class="row" [style.margin]="'0px'" [id]="'footer'">
    <div class="container">
        <div class="row">
            <div class="col-md-4 module">
                <h3>MiB Fanclub</h3>
                <p>Mindtree, Kalinga<br>
                Bhubaneshwar<br>
                Odissa, 751024</p>
            </div>
            <div class="col-md-4 module">
                <h3>Social media links</h3>
                <p>
                        <a class="fa fa-facebook-official social" aria-hidden="true" target="_blank" href="https://www.facebook.com/MiB-Fanclub-235816873832500/"></a>
                        <a class="fa fa-twitter-square social" aria-hidden="true" target="_blank" href="https://twitter.com/FanclubMib"></a>
                        <a class="fa fa-instagram social" aria-hidden="true" target="_blank" href="https://www.instagram.com/mibfanclub2018"></a>
                </p>
            </div>

            

            <!-- <div style="position: absolute;right:10px;bottom:50px;z-index:100">
                <app-chatbox></app-chatbox>
            </div>
                     -->

        </div>

    </div>

</div>
</div>
