<div class="container">
  
  <div class="card">
    
    <div class="row" *ngIf="product" >
      
      <aside class="col-sm-5 border-right">
        
        <article class="gallery-wrap">
          
          <div class="img-big-wrap">
            
            <div>
              <a href="#">
                <img class="product-img"  src="{{product.image}}"  style="width:80%;height:80%;"></a>
              </div>
            </div>
            
          </article>
          
        </aside>
        
        <aside class="col-sm-7">
          
          <article class="card-body p-5">
            
            <h3 class="title mb-3">{{product.ProductName}}</h3>
            
            <p class="price-detail-wrap">
              
              <span class="price h3 text-warning">
                <span class="currency">&#x20b9;</span>
                <span class="num">{{product.price}}</span>
              </span>
            </p>
            
            <div class="item-property">
              
              <p><b>Description : </b></p>
              
              <p>{{product.Description}} </p>
            </div>
            
            <hr>
            
            <div class="item-property">
              
              <p><b>Available Quantity :</b> {{product.Quantity}} </p>
            </div>
            
            <hr>
            <a class="btn btn-lg btn-primary text-uppercase add"  (click)="addToCart(product._id)">Add to cart </a>&nbsp;
            <a class="btn btn-lg btn-primary text-uppercase"  (click)="goToCart()"> Buy now </a>&nbsp;
          </article>
        </aside>
      </div>
    </div>
  </div><br/>